div.dateLabel {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 10px;
    opacity: 0.7;
    padding: 6px;
    position: absolute;
    text-align: right;
    width: 100%;
    z-index: 20;
}